<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<HEAD>
	<TITLE>鉴证报告封面</TITLE>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="renderer" content="webkit" />

	<link rel="stylesheet" type="text/css" href="ywbbfm.css" />
	<link rel="stylesheet" type="text/css" href="ywbbprint.css" media="print" />



	<LINK rel="stylesheet" type="text/css" th:href="@{/css/ctax.css}" />
	<LINK rel="stylesheet" type="text/css" href="/css/ecside_style.css" />
</HEAD>

<BODY>
	<DIV id=Calendar style="POSITION: absolute; FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#999999,strength=3); Z-INDEX: 100; VISIBILITY: hidden"></DIV>
	<TABLE cellSpacing=0 cellPadding=0 width="100%">
		<TBODY>
			<TR>
				<TD vAlign=top align=left></TD>
			</TR>
			<TR>
				<TD>
					<TABLE cellSpacing=0 cellPadding=0 width="100%">
						<TBODY>
							<TR height=260>
								<TD vAlign=top align=center>
									<DIV id=page1>
										<TABLE cellSpacing=0 cellPadding=0 width=660 align=center border=0>
											<TBODY>
												<TR>
													<TD align=center>
														<!-- 企业所税汇算清缴、个人所得税汇算清缴 的标头打印位置-->
														<DIV class=ztit>松下电子部品(江门)有限公司
															<BR>
															<SPAN style="FONT-SIZE: 30px">企业所得税汇算清缴鉴证报告 </SPAN>
															<DIV style="FONT-SIZE: 23px; FONT-FAMILY: 仿宋_GB2312; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px; MARGIN: 1px; LINE-HEIGHT: 25px">2011年01月01日-2011年12月31日</DIV>
														</DIV>
														<DIV style="BORDER-BOTTOM: #ccc 2px solid" height="2"></DIV>
														<TABLE height=60 cellSpacing=0 cellPadding=0 width=100 border=0>
															<TBODY>
																<TR>
																	<TD>&nbsp;</TD>
																</TR>
															</TBODY>
														</TABLE>
														<TABLE class=table1 cellSpacing=10 cellPadding=0 width="80%" border=0>
															<TBODY>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq width="32%">防伪条形码</TD>
																	<TD>】：</TD>
																	<TD align=left>
																		<IMG border=0 alt=/bcimages/20120746525057.png src="/bcimages/20120746525057.png" align=absMiddle> </TD>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>报备号码</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>20120746525057&nbsp;</SPAN>
																	</TH>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>报告文号</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>志尚国鉴[2012]第470号&nbsp;</SPAN>
																	</TH>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>企业名称</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>松下电子部品(江门)有限公司&nbsp;</SPAN>
																	</TH>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>税务登记证号</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>44078261773088X&nbsp;</SPAN>
																	</TH>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>主管税务机关</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>江门市新会区国家税务局&nbsp; </SPAN>
																	</TH>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>事务所名称</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>江门市新会志尚税务师事务所有限公司&nbsp;</SPAN>
																	</TH>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>报告日期</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>2012年08月02日&nbsp;</SPAN>
																	</TH>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>报备日期</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>2012年08月02日&nbsp;</SPAN>
																	</TH>
																</TR>
																<TR>
																	<TD>【</TD>
																	<TD class=fsdq>签名注册
																		<IMG border=0 src="/images/shui.gif" align=absMiddle>务师</TD>
																	<TD>】：</TD>
																	<TH align=left>
																		<SPAN class=fontfs>赵汝成,林景稠&nbsp;</SPAN>
																	</TH>
																</TR>
															</TBODY>
														</TABLE>
														<TABLE height=80 cellSpacing=0 cellPadding=0 width=100 border=0>
															<TBODY>
																<TR>
																	<TD>&nbsp;</TD>
																</TR>
															</TBODY>
														</TABLE>
														<TABLE class=table2 cellSpacing=0 cellPadding=0 width="80%" align=center border=0>
															<TBODY>
																<TR>
																	<TD class=fontht width=100 align=right>事务所电话</TD>
																	<TD width=5>：</TD>
																	<TD align=left>
																		<SPAN class=fontfs>0750-6333188&nbsp;</SPAN>
																	</TD>
																</TR>
																<TR>
																	<TD class=fontht align=right>传真</TD>
																	<TD>：</TD>
																	<TD align=left>
																		<SPAN class=fontfs>0750-6331922&nbsp;</SPAN>
																	</TD>
																</TR>
																<TR>
																	<TD class=fontht align=right>通信地址</TD>
																	<TD>：</TD>
																	<TD align=left>
																		<SPAN class=fontfs>江门市新会区会城中心南路16号115&nbsp;</SPAN>
																	</TD>
																</TR>
																<TR>
																	<TD class=fontht align=right>电子邮件</TD>
																	<TD>：</TD>
																	<TD align=left>
																		<SPAN class=fontfs>&nbsp;</SPAN>
																	</TD>
																</TR>
																<TR>
																	<TD class=fontht align=right>事务所网址</TD>
																	<TD>：</TD>
																	<TD>
																		<SPAN class=fontfs>&nbsp;</SPAN>
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
														<DIV class=sxxan>
															<IMG border=0 src="/images/sy03.gif" align=absMiddle>
														</DIV>
														<!--  <span class="dijiao">防伪查询网址：http://gdzs.taxcom.cn/re_query.jsp</span> -->
														<SPAN class=dijiao>防伪查询网址：http://www.gdcta.net</SPAN> </TD>
												</TR>
											</TBODY>
										</TABLE>
									</DIV>
									<CENTER class=Noprint>
										<INPUT onclick="window.print()" style="CURSOR: hand" type=button value=打印>&nbsp; </CENTER>
								</TD>
							</TR>
						</TBODY>
					</TABLE>
				</TD>
			</TR>
		</TBODY>
	</TABLE>
	<SCRIPT type=text/javascript>
//menuin();
</SCRIPT>

	<TABLE id=columnMenu class=columnMenu style="LEFT: 0px; DISPLAY: none; TOP: 0px">
		<TBODY>
			<TR>
				<TD></TD>
			</TR>
		</TBODY>
	</TABLE>
	<DIV id=nearPagesBar class=nearPagesBar style="DISPLAY: none"></DIV>
</BODY>

</HTML>