body {
	margin-left: 0px;
	margin-top: 0px;
	background-color: #F8F8F0;
	margin-right: 0px;
	margin-bottom: 0px;
}

input {
	background: #BBDBE1;
	border: #7F9DB9 1px solid;
}

textarea {
	background: #BBDBE1;
	border: #7F9DB9 1px solid;
}

select {
	background: #BBDBE1;
	border: #7F9DB9 1px solid;
}

.line {
	border: 1px solid #768197;
	font-size: 14px;
	color: #2B50B9;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}

a.blue_14px:link {
	color: #4730C6;
	text-decoration: none;
}

a.blue_14px:visited {
	text-decoration: none;
}

a.blue_14px:hover {
	color: #003399;
	text-decoration: none;
}

a.blue_14px:active {
	color: #55A0FF;
	text-decoration: none;
}

.blue_14px {
	font-size: 14px;
	color: #4730C6;
}

.lineCopy {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
}
.lineCopytitle{
	background-color:#DCDAE5;
	font-weight:bolder;
	border-bottom:1px solid #929CA8;
	line-height:22px; 
}
.lineCopy2 {
	background-color: F8F8F0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
}

.lineCopyft {
	background-color: F8F8F0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	text-align: right;
	vertical-align: middle;
	line-height: 21px;
}


.lineCopy3 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #9C9BA1;
	border-right-color: #9C9BA1;
	border-bottom-color: #9C9BA1;
	border-left-color: #9C9BA1;
	background-color: #FFFFFF;
}

.lineCopy4 {
	background-color: #FFFFFF;
	border: 1px solid #9B9CA0;
}

body,td,th {
	font-size: 12px;
	color: #333333;
}

.STYLE2 {
	color: #775BD2
}

.STYLE4 {
	color: #33333333;
	text-align: center;
}

.STYLE5 {
	color: #FFFFFF
}

.STYLE7 {
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
}

.STYLE8 {
	color: #777777
}

.STYLE9 {
	color: #000000;
	text-align: center;
	vertical-align: bottom;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.line .STYLE2 {
	font-size: 14px;
	font-weight: bold;
	font-variant: normal;
	color: #222EAA;
}

.lineCopy_1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
}

.lineCopy2_1 {
	background-color: F8F8F0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
}

.line2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #768197;
}

.line_3 {
	border: 1px solid #768197;
	font-size: 14px;
	color: #2B50B9;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.input_text {
	font-size: 12px;
	color: #000000;
}

.blue {
	font-size: 12px;
	color: #5893BD;
	margin: 1;
}

.blue2 {
	font-size: 12px;
	font-weight: bold;
	color: #2B50B9;
}

.blue3 {
	font-size: 12px;
	color: #0066CC;
}

.red {
	font-size: 14px;
	color: #FF0000;
}

.line_4 {
	border: 1px solid #768197;
	font-size: 14px;
	color: #CE1E1E;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.line_5 {
	border: 1px solid #768197;
	font-size: 14px;
	color: #009933;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.line_blue_1 {
	font-size: 18px;
	color: #2C12AB;
	height: 41px;
}

.red_text {
	color: #FF0000;
	font-size: 18px;
	height: 41px;
}

.table_margin_1 {
	font-size: 12px;
	margin: 10;
}

.line_3_blue_12px {
	border: 1px solid #768197;
	font-size: 12px;
	color: #0099FF;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
}

.red_12px {
	font-size: 12px;
	color: #FF0000;
}

}
.width_90 {
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 12px;
}

.lineCopy_down {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
}

a.blue_12px {
	text-decoration: none;
}

.lineCopy_down2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	background-color: #F8F8F0;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
}

#object th {
	filter: progid : DXImageTransform . Microsoft .
		Gradient(gradientType = 0, startColorStr = #F6F6F8, endColorStr =
		#DEDDE3) color :   #000000;
	text-align: center;
	vertical-align: bottom;
	border-right-style: solid;
	border-top-color: #DDDCE1;
	border-right-color: #000000;
	border-bottom-color: #929CA8;
	border-left-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	text-decoration: none;
	border-top-style: solid;
	border-bottom-style: solid;
}

#object td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	height: 19px;
}

#object tr.odd {
	BACKGROUND-COLOR: #FFFFFF;
}

#object tr.tableRowEven,tr.even {
	background-color: #F7F6F1;
}

#objectOption a:link {
	color: #333333;
	text-decoration: none;
	display: block;
}

#objectOption a:visited {
	color: #333333;
	text-decoration: none;
	display: block;
}

#objectOption a:hover {
	color: blue;
	text-decoration: none;
	display: block;
}

#objectOption a:active {
	color: #333333;
	text-decoration: none;
	display: block;
}

#objectOption  th {
	filter: progid : DXImageTransform . Microsoft .
		Gradient(gradientType = 0, startColorStr = #F6F6F8, endColorStr =
		#DEDDE3) color :   #000000;
	text-align: center;
	vertical-align: bottom;
	border-right-style: solid;
	border-top-color: #DDDCE1;
	border-right-color: #000000;
	border-bottom-color: #929CA8;
	border-left-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	text-decoration: none;
	border-top-style: solid;
	border-bottom-style: solid;
}

#objectOption td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	height: 19px;
}

#objectOption tr.odd {
	BACKGROUND-COLOR: #FFFFFF;
}

#objectOption tr.tableRowEven,tr.even {
	background-color: #F7F6F1;
}

#objectOption a:link {
	color: #333333;
	text-decoration: none;
	display: block;
}

#objectOption a:visited {
	color: #333333;
	text-decoration: none;
	display: block;
}

#objectOption a:hover {
	color: blue;
	text-decoration: none;
	display: block;
}

#objectOption a:active {
	color: #333333;
	text-decoration: none;
	display: block;
}

a:link {
	text-decoration: none;
	color: #333333;
}

a:visited {
	text-decoration: none;
	color: #333333;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

a:active {
	text-decoration: none;
	color: #333333;
}

span.pagebanner {
	display: none;
}

span.pagelinks {
	width: 100%;
	text-align: right;
	display: block;
	color: #DCDAE5;
}

span.tk {
	color: blue;
}

.lineCopy5 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #95949A;
	border-right-color: #95949A;
	border-bottom-color: #95949A;
	border-left-color: #95949A;
	background-color: #F8F8F0;
	line-height: 21px;
}

.STYLE10 {
	color: #000000;
	text-align: center;
	vertical-align: middle;
	border-right-style: solid;
	border-top-color: #95949A;
	border-right-color: #95949A;
	border-bottom-color: #95949A;
	border-left-color: #95949A;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.input_text2 {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 4px;
	line-height: 18px;
}

.sc_scroll {
	
}

a:link .STYLE7 {
	color: #ffffff;
	text-decoration: none;
	display: block;
}

a:visited .STYLE7 {
	color: #ffffff;
	text-decoration: none;
	display: block;
}

a:hover .STYLE7 {
	color: #FFff00;
	text-decoration: none;
	display: block;
}

a:active .STYLE7 {
	color: #FFff00;
	font-weight: bold;
	text-decoration: none;
	display: block;
}

.lineCopy_down3 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	line-height: 21px;
}

.sec1 {
	CURSOR: hand;
	COLOR: #000000;
	background-image: url(../images/index_0_1_65.jpg);
	font-size: 12px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #ffffff;
	border-right-color: gray;
	border-bottom-color: #ffffff;
	border-left-color: #ffffff;
}

.sec2 {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	FONT-WEIGHT: bold;
	BORDER-LEFT: #ffffff 1px solid;
	CURSOR: hand;
	COLOR: #0099FF;
	BACKGROUND-COLOR: #FFFFFF
}

.main_tab {
	COLOR: #000000;
	BACKGROUND-COLOR: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: gray;
	border-bottom-color: gray;
	border-left-color: #ffffff;
}

#biangeng {
	position: absolute;
	display: none;
	visibility: inherit;
	z-index: 2;
}

#biangeng2 {
	position: absolute;
	visibility: hidden;
	visibility: inherit;
	z-index: 2;
}

#jiansuo {
	position: absolute;
	/*visibility: hidden;*/
	display: none;
	visibility: inherit;
	z-index: 2;
}

#jiansuo2 {
	position: absolute;
	/*visibility: hidden;*/
	display: none;
	visibility: inherit;
	z-index: 2;
}
#zzz {
	position: absolute;
	/*visibility: hidden;*/
	display: none;
	visibility: inherit;
	z-index: 2;
}
#jiansuo3 {
	position:absolute;
	z-index:1;
	visibility: hidden;
}
.tbd td {
	height: 21px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #9B9CA0;
	border-right-color: #9B9CA0;
	border-bottom-color: #9B9CA0;
	border-left-color: #9B9CA0;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}

.input_text3 {
	font-size: 12px;
	color: #000000;
	background-color: #EDF2F0;
	border: 1px solid #BFBFBF;
}

.line_1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align: center;
}
.line_1left{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align: left;
}
.line_lright{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align: right;
}
.line_2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align: center;
	vertical-align: middle;
	border-top-style: solid;
}

a,a:hover,a:visited {
	text-decoration: none;
}

.tab {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 23px;
	background: url(../images/hackbg.gif) left bottom repeat-x
}

.tab li {
	float: left;
	padding: 0 0 0 18px;
	height: 23px
}

/*====================================================*/
	/*    0:  ÎÞ                                          */
	/*    1:  ¿ª                                          */
	/*    2:  ¹Ø                                          */
	/*====================================================*/
	/*=== ×óÎÞÓÒ¹Ø ===*/
.tab li.t01 {
	background: url(../images/t01.gif) left bottom no-repeat
}

/*=== ×óÎÞÓÒ¿ª ===*/
.tab li.t02 {
	background: url(../images/t02.gif) left bottom no-repeat
}

/*====================================================*/
	/*=== ×ó¹ØÓÒ¿ª ===*/
.tab li.t12 {
	background: url(../images/t12.gif) left bottom no-repeat
}

/*=== ×ó¿ªÓÒ¹Ø ===*/
.tab li.t21 {
	background: url(../images/t21.gif) left bottom no-repeat
}

/*=== Ë«¹Ø ===*/
.tab li.t11 {
	background: url(../images/t11.gif) left bottom no-repeat
}

/*====================================================*/
	/*=== ×ó¹ØÓÒÎÞ ===*/
.tab li.t20 {
	background: url(../images/t20.gif) left bottom no-repeat
}

/*=== ×ó¿ªÓÒÎÞ ===*/
.tab li.t10 {
	background: url(../images/t10.gif) left bottom no-repeat
}

.tab li a {
	display: block;
	line-height: 23px;
	letter-spacing: 0.1em;
	text-indent: 2px;
	color: #333;
	white-space: nowrap;
	text-decoration: none;
}

.tab li a:hover {
	color: #333;
	text-decoration: none
}

.tab li a:visited {
	color: #333;
	text-decoration: none
}

/*====================================================*/ /*=== ¹Ø±³¾° ===*/
.tab li a.a1 {
	background: url(../images/bg1.gif) right bottom repeat-x
}

/*=== ¿ª±³¾° ===*/
.tab li a.a2 {
	background: url(../images/bg2.gif) right bottom repeat-x
}

.hb {
	padding: 2px 2px;
	border: #AAA 1px solid;
	border-top: 0;
	display: none;
	height: 504px
}

